.Card {
  background-color: white;
  border: solid;
  border-color: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  margin: 0.2rem;
}

.CardGroup {
  overflow-y: auto;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.CardGroup-ul {
  list-style-type: none;
  width: 25%;
}

.CardGroup-li {
  margin: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-basis: 20%;
}

.CardContent-text {
  padding-bottom: 0.3rem;
  margin: 0.3rem;
  font-weight: 600;
}

.CardContent-div {
  padding: 0.3rem;
  margin: 0.3rem;
}

.Content {
  margin: 0.5rem;
  border: solid;
  border-color: grey;
  border-radius: 0.5rem;
  display: flex;
  height: 100%;
}

.SearchByNameForm {
  padding: 0.5rem;
  margin: 0.5rem;
  justify-content: start;
}

.SearchByNameForm-input {
  border-radius: 0.5rem;
  width: 50%;
  height: 1.5rem;
  border: solid;
  border-color: rgb(160, 162, 166);
}

.SearchByNameForm-primary {
  background-color: #1a56db;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  border: solid;
}

.Error {
  color: red;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

button:hover,
button[hover] {
  cursor: pointer;
}

.SearchByNameForm-secondary {
  background-color: #ff4221;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  border: solid;
}

.Title {
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
  font-size: xx-large;
}

.Container {
  /* outline: solid 1px black; */
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
